body {
    font-family: 'Lato', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

ul {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

hr {
    border: 0;
    height: 1px;
    background: #e6e6e6;
    clear:both;
    display:block;
}

article {
    font-size:14px;
    padding:5px;
}
a, a:visited, a:active, a:hover {
    color: rgb(255,255,255);
    text-decoration:none;
}

.skill-entry:hover {
    background-color: rgb(245,98,24);
}

.overlay:hover  {
    background-color: rgb(245,98,24);
    background-color: rgba(245,98,24,0.8);
}

p {
    margin:0 0 0 0;
    font-size:14px;
}

h1,h2,h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight:300;
}

h4 {
    margin:0 0 0 0;
    padding: 5px;
}
.bgcolor-1 {
    background-color: rgb(145,145,103);
}

.bgcolor-1-op {
    background-color: rgb(145,145,103);
    background-color: rgba(145,145,103,0.8);
}

.bgcolor-2 {
    background-color: rgb(157,201,172);
}

.bgcolor-3 {
    background-color: rgb(255,157,46);
}

.bgcolor-3-op {
    background-color: rgb(255,157,46);
    background-color: rgba(255,157,46,0.8);
}
.bgcolor-4 {
    background-color: rgb(245,98,24);
}

.bgcolor-4-op {
    background-color: rgb(245,98,24);
    background-color: rgba(245,98,24,0.8);
}
.bgcolor-5 {
    background-color: rgb(255,254,199);
}

.bgcolor-white {
    background-color: rgb(255,255,255);
}

.color-white {
    color: rgb(255,255,255);
}

.color-1 {
    color: rgb(145,145,103);
}

.color-2 {
    color: rgb(157,201,172);
}

.color-3 {
    color: rgb(255,157,46);
}

.color-4 {
    color: rgb(245,98,24);
}

.color-5 {
    color: rgb(255,254,199);
}

.border {
    border: 1px solid #eeeeee;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-right {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-down {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.space-above {
    margin-top:20px;
}

.space-below-10 {
    margin-bottom: 10px;
}

.center {
    margin: auto;
}

.shadow {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
}

.header-wrapper {
    width: 100%;
    position:fixed;
    z-index:99999;
    top:0;
}

.header {
    height:50px;
}

.content-wrapper {
    max-width: 1000px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}

.section-header {
    padding-left:5px;
    margin-bottom:10px;
}

.work-description {
    padding:5px;
}

.school-description {
    padding:5px;
}

.education-entry {
    position:relative;
    width: 321px;
    margin: 5px;
}

.work-entry {
    position:relative;
    width: 321px;
    margin: 5px;
}

.job-pic {
    height:250px;
    max-width:100%;
}

.edu-pic {
    height:250px;
    max-width:100%;
}

.overlay {
    display:block;
    position:absolute;
    padding-top:10px;
    padding-bottom:10px;
    top:0;
    width:100%;
}

.spacer {
    height:52px;
    width:100%;
}

.fixed-bottom {
    display:block;
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
}
.date-location-text {
    text-align:right;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size:12px;
}

.bio-container {
    margin:5px;
}

.bio-pic-sizer {
    width:150px;
    padding:10px;
}

.bio-pic {
    max-width:100%;
    max-height:100%;
    margin:auto;
    border: 2px solid #FFFFFF;
    border-radius:50%;
}

.skills-header {
    margin: 5px;
    padding: 5px;
}

.skill-entry {
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
}